version: '3'
services:
  hugo:
    image: docker.io/peaceiris/hugo:v0.146.4@sha256:ca61fa7cfb82777ff89380a3024b75d3ba8c3cf36c23abf229d79ab9103688e9
    command:
      - server
      - --bind=0.0.0.0
      - --buildDrafts
    ports:
      - 127.0.0.1:1313:1313
    volumes:
      - .:/src
