version: '3'
services:
  hugo:
    image: ghcr.io/gohugoio/hugo:v0.152.2@sha256:d2952bdcfa3b0b25ca3d2104394c2883ffa86abb88855515f01b23b5e8f1355b
    command:
      - server
      - --bind=0.0.0.0
      - --buildDrafts
    ports:
      - 127.0.0.1:1313:1313
    volumes:
      - .:/project
