body {
    background-color: rgba(224,235,213,1);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(108.7deg, rgba(224,235,213,1) 8.1%, rgba(37,148,141,1) 91.2%);
    background-image: url("images/overlay.png"), -moz-linear-gradient(108.7deg, rgba(224,235,213,1) 8.1%, rgba(37,148,141,1) 91.2%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(108.7deg, rgba(224,235,213,1) 8.1%, rgba(37,148,141,1) 91.2%);
    background-image: url("images/overlay.png"), -o-linear-gradient(108.7deg, rgba(224,235,213,1) 8.1%, rgba(37,148,141,1) 91.2%);
    background-image: url("images/overlay.png"), linear-gradient(108.7deg, rgba(224,235,213,1) 8.1%, rgba(37,148,141,1) 91.2%);
}
