<!DOCTYPE HTML>

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "header.html" . }}
  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
          <section id="main">
            <header>
              <h1 class="name">404</h1>
              <h2>Page Not Found</h2>
            </header>

            <footer>
              <a href="{{ .Site.BaseURL }}">Go to Homepage</a>
            </footer>
          </section>

        <!-- Footer -->
          {{ partial "footer.html" . }}

      </div>
    {{ partial "footer_scripts.html" . }}
  </body>
</html>
